body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--site-min-vh);
  font-family: var(--body-font-family);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  color: var(--white);
  background-color: var(--vinyl);
}

.layout-container {
  display: grid;
  flex: 1;
  grid-template-rows: 1fr auto;
  min-height: var(--site-min-vh);
  width: 100%;
  grid-template-areas:
    "header"
    "content";

  @media (min-width: 700px) {
    max-width: var(--site-max-width);
  }
}

.layout-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: var(--site-max-width);

  main {
    flex: 1;
    width: 100%;
    padding: 10px;

    @media (min-width: 1440px) {
      border-left: 1px solid var(--vinyl-50);
      border-right: 1px solid var(--vinyl-50);
    }
  }

  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: var(--site-max-width);
    min-height: 100px;
    padding: 10px;
    background-color: var(--vinyl);
  }
}
