body {
  display: flex;
  justify-content: center;
  min-height: var(--site-min-vh);
  font-family: var(--body-font-family);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  color: var(--white);
  background-color: var(--vinyl);
}

.container {
  min-height: var(--site-min-vh);
  width: 100%;
  grid-template-areas:
    "header"
    "content";

    @media (min-width: 700px) {
      width: var(--site-max-width);
    }
}

.content {
  grid-area: content;
  display: flex;

  main {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid var(--vinyl-50);
    border-top: none;
  }
}
