:root {
  --heading-margin-top: var(--rhythm);
  --heading-margin-bottom: var(--rhythm);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-top: var(--heading-margin-top); */
  font-weight: 700;
}

h1 {
  font-size: var(--fs-2xl);
  line-height: var(--line-height-2xl);
}

h2 {
  font-size: var(--fs-xl);
  line-height: var(--line-height-xl);
}

h3 {
  font-size: var(--fs-l);
  line-height: var(--line-height-l);
}

h4,
h5,
h6 {
  font-size: var(--fs-md);
  line-height: var(--line-height-md);
}
