body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--site-min-vh);
  color: var(--text1);
  background-color: var(--surface2);
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: var(--site-min-vh);
  width: 100%;
  grid-template-areas:
    "header"
    "content";

  @media (--cm-md) {
    max-width: var(--site-max-width);
  }
}

.layout-content {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--site-max-width);

  main {
    flex: 1;
    width: 100%;

    @media (--cm-sm) {
      padding: var(--p-md);
      padding-top: 0;
      border-left: var(--border);
      border-right: var(--border);
    }
  }
}
