:root {
  /* typography */
  --body-font-family: "Inter", sans-serif;
  --heading-font-family: "Oswald", sans-serif;

  /* sizes */
  --site-max-width: 90rem;
  --site-min-vh: 100vh;

  /* vertical rhytm */
  --fs-xs: clamp(0.64rem, 0.1vw + 0.61rem, 0.75rem); /* ×0.512  */
  --fs-sm: clamp(0.8rem, 0.15vw + 0.76rem, 0.875rem); /* ×0.640  */
  --fs-base: clamp(1rem, 1rem, 1rem); /* ×1.000  */
  --fs-md: clamp(1.25rem, 0.4vw + 1.15rem, 1.5rem); /* ×1.250  */
  --fs-lg: clamp(1.563rem, 0.6vw + 1.41rem, 1.875rem); /* ×1.563  */
  --fs-xl: clamp(1.953rem, 0.9vw + 1.73rem, 2.25rem); /* ×1.953  */
  --fs-2xl: clamp(2.441rem, 1.3vw + 2.12rem, 3rem); /* ×2.441  */
  --fs-3xl: clamp(3.052rem, 2vw + 2.55rem, 4.5rem); /* ×3.052  */
  --fs-4xl: clamp(3.815rem, 2.8vw + 3.11rem, 5.625rem); /* ×3.815  */
  --fs-5xl: clamp(4.768rem, 3.8vw + 3.82rem, 7.031rem); /* ×4.768  */

  --rhythm: 1.5rem; /* 24px — base line height */
  --rhythm-half: 0.75rem; /* 12px */
  --rhythm-quarter: 0.375rem; /* 6px */

  --line-height-xs: var(--rhythm); /* 1.5rem  */
  --line-height-sm: var(--rhythm); /* 1.5rem  */
  --line-height-base: var(--rhythm); /* 1.5rem  */
  --line-height-md: calc(var(--rhythm) * 1.25); /* 1.875rem */
  --line-height-lg: calc(var(--rhythm) * 1.5); /* 2.25rem  */
  --line-height-xl: calc(var(--rhythm) * 2); /* 3.00rem  */
  --line-height-2xl: calc(var(--rhythm) * 2.5); /* 3.75rem  */
  --line-height-3xl: calc(var(--rhythm) * 3); /* 4.50rem  */
  --line-height-4xl: calc(var(--rhythm) * 3.75);
  --line-height-5xl: calc(var(--rhythm) * 4.5);

  --heading-margin-top: var(--rhythm);
  --heading-margin-bottom: var(--rhythm);
}

body {
  line-height: var(--line-height-base);
  font-family: var(--body-font-family);
  font-size: 16px;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text1);
  margin-top: 0;
  font-weight: 700;
}

h1 {
  font-size: var(--fs-2xl);
  line-height: var(--line-height-2xl);
}

h2 {
  font-size: var(--fs-xl);
  line-height: var(--line-height-xl);
}

h3 {
  font-size: var(--fs-lg);
  line-height: var(--line-height-lg);
}

h4,
h5,
h6 {
  font-size: var(--fs-md);
  line-height: var(--line-height-md);
}

p,
a {
  font-size: var(--fs-base);
  line-height: var(--line-height-base);
  margin-bottom: var(--m-sm);
}

a {
  color: var(--text1);
  text-decoration: none;

  &:hover {
    color: var(--brand);
  }
}

button {
  padding: var(--p-md) var(--p-xl);
  outline: none;
  border-radius: var(--p-sm);
  background: hsl(from var(--brand) h s calc(l * 0.2));
  border-color: var(--brand);
  border: 1px solid var(--brand);
  color: var(--text-1);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: hsl(from var(--brand) h s calc(l * 0.4));
  }
}
